<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>BaseURL</key>
<string>https://sandy.magnet.com/mobile/api</string>
<key>ClientID</key>
<string>9f3417f3-2a38-4d8c-9a04-ac125042eb2d</string>
<key>ClientSecret</key>
<string>YfO1zSIv321maNaujVBOo9OgTELU_Ydd321JkriW81M</string>
</dict>
</plist>
